<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Featherly - Sign In</title>
    <link rel="stylesheet" href="static/styles/authstyle.css">
    <!-- <link rel="stylesheet" href="css/pico.min.css"> -->
    <!-- <link rel="stylesheet" href="static/styles/styles.css"> -->
</head>

<body>
    <div class="logo">
        <img src="static/images/raven.png" alt="Featherly Logo">
        <h1>FEATHERLY</h1>
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-box">
                <h2>Welcome back to your perch...</h2>
                <!-- <img src="static/images/perch.png" alt="Image"> -->
                <img src="static/images/birdie.svg" alt="Image">
                <form>
                    <input type="text" placeholder="Username" required>
                    <input type="password" placeholder="Password" required>
                    <button class="sign-in-button">Sign In</button>
                    <button class="sign-up-button">Sign Up</button>
                    <p><a href="#">Forgot password?</a></p>

                </form>
            </div>
        </div>
    </div>
</body>

</html>



