body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

body.signin {
    background: url('../images/peep.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.signup {
    background: url('../images/cute.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: #BCDADB;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.logo h1 {
    margin: 0;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.704);
    width: 80vw;
    max-width: 600px;
    min-width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.form-box h2 {
    margin-bottom: 0px;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.form-box form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.form-box input {
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 0px;
    border: 0px;
    border-radius: 3px;
    font-size: 16px;
    color: #000000;
    box-sizing: border-box;
}

.form-box button {
    padding: 10px;
    border: none;
    background-color: #ffffffc4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(63, 63, 63, 0.7);
}

.form-box button:hover {
    background-color: #9cc3ec;
}

.form-box img {
    display: block;
    margin: 0;
    padding: 0;
}
img.nest {
    width: 170px;
    height: 150px;
}

img.perch {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 140px;
}

.link {
    text-align: center;
    margin: 20px 0 10px;
}

.link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.link a::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #007BFF;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.link a:hover::after {
    transform: scaleX(1);
}

.forgot {
    text-align: center;
    margin: 10px 0;
}

.forgot a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.nav-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.nav-icons a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ddd;
}
