* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

header {
    background-color: #8bd7da;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #BCDADB;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.nav-icons a {
    color: white;
    margin-left: 20px;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ddd;
}

main {
    padding-top: 10px;
}

.bird-info-container {
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.bird-title-row {
    margin-bottom: 30px;
}

.bird-title-row h1 {
    font-size: 2.5em;
    color: #333;
}

.bird-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bird-image {
    flex: 1;
    max-width: 50%;
    /* margin-right: 30px; */
}

.bird-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.bird-about {
    flex: 2;
    max-width: 50%;
    margin-left: 30px;
}

.bird-about h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.bird-about p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.bird-about a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #0fa4cd;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.bird-about a i {
    font-size: 1.5em;
    margin-right: 10px;
}

.bird-about a:hover {
    background-color: #0690b6;
    transform: translateY(-2px);
}