* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

header {
    background-color: #8bd7da;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #BCDADB;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.nav-icons a {
    color: white;
    margin-left: 20px;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ddd;
}

main {
    padding-top: 10px;
}

.bird-info {
    width: 100%;
    padding: 20px;
}

.bird-info h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.bird-info p {
    font-size: 1.2em;
    margin-bottom: 15px;
}