html {
    height: 100%;
}
body {
    display:flex;
    height: 100%;
    margin:0;
    font-family: sans-serif;
}
#mainHeader{
    margin-bottom: 5vw;
}
#subtitle {
    color: gray;
}
#textSide {
    text-align:center;
    width: 55%;
}
.image-fader {
    width: 45%;
    position:relative;
}
.image-fader img {
    top: 0px;
    left: 0px;
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    animation-name: imagefade;
    animation-name: imagefade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 32s;
}
@keyframes imagefade {
    0% {
      opacity:1;
    }
    15% {
      opacity:1;
    }
    20% {
      opacity:0;
    }
    85% {
      opacity:0;
    }
    90% {
        opacity:1;
    }
    100% {
      opacity:1;
    }
  }
  
  .image-fader img:nth-of-type(1) {
    animation-delay: 24s;
  }
  .image-fader img:nth-of-type(2) {
    animation-delay: 16s;
  }
  .image-fader img:nth-of-type(3) {
    animation-delay: 8s;
  }
  .image-fader img:nth-of-type(4) {
    animation-delay: 0;
  }

#cards {
    display: flex;
    flex-direction: row;
    margin: 1vw;
}

.card {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.cardText {
    border-left: 3px solid rgba(76, 97, 255, 0.671);
    padding: 0em 1em 0em 1em;
    height: 11.5em;
    margin-bottom: 2em;
    object-fit: contain;
}
.cardImg {
    height:4em;
    object-fit: contain;
}
h1 {
    margin: 0em 0.5em 0em 0.5em; /*top, right, bottom, left*/
    padding-bottom: 0.2em;
    font-size: 5em;
    border-bottom: 3px solid rgba(22, 35, 127, 0.671);
}
button {
    color: white;
    background-color: rgb(80, 80, 164);
    border: none;
    padding: 1em 2em 1em 2em;
}
button:hover {
    background-color: rgb(49, 49, 120);
}

@media screen and (max-width: 700px) {
    .image-fader {
        display:none;
    }
    #textSide{
        width: 100%;
    }
    #cards{
        flex-direction: column;
    }
    .cardText {
        border-left: 0px;
        height:auto;
    }
    .card{
        padding: 1em;
        margin-bottom: 5vw;
        border-left: 5px solid rgba(76, 97, 255, 0.671);

    }
    #mainHeader{
        margin-bottom: 10vw;
    }
}

.nav-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.nav-icons a {
    color: rgb(69, 149, 202);
    margin-left: 15px;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ddd;
}