/*sidebar styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
}

.container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap; 
}

.image-section {
    flex: 3; 
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.list-section {
    flex: 1.4; 
    overflow-y: auto; 
    background-color: #f0f0f0; 
    padding: 10px; 
    margin-top: 60px;
    height: 100%;
    overflow: scroll;
}

.scrollable-list {

    padding: 0;
}

/* Rectangle Styles */
.rectangle {
    display: flex; 
    align-items: flex-start; 
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px 0; 
    background-color: #ffffff; 
    transition: transform 0.2s;
    flex-basis: calc(25% - 20px); 
}

.rectangle:hover {
    transform: translateY(-2px); 
}

.rectangle img {
    width: 150px;  
    height: 150px; 
    margin-right: 15px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

.text-container {
    display: flex; 
    flex-direction: column; 
}

.rectangle h3 {
    margin: 0 0 5px 0; 
    font-size: 1.3em; 
    color: #2c3e50; 
    font-weight: bold; 
}

.rectangle p {
    margin: 0; 
    color: #7f8c8d; 
    line-height: 1.5; /
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .rectangle {
        flex-basis: calc(33.33% - 20px); 
    }
}

@media (max-width: 900px) {
    .rectangle {
        flex-basis: calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .rectangle {
        flex-basis: 100%;
    }

    .image-section {
        flex: 1; 
        height: 200px; 
    }
}

/*page styles*/

.image-section{
    max-height: 100%;
}

.header{
    height:50px;
    width: 100%;
    font-size: 24px;
    padding-left:20px;
    padding-top:10px;
    background-color: #2c3e50;
    color: #eaeaea;
    font-family: sans-serif;
}

#sidebar-search{
    height: 40px;
    width:388px;
    margin:20px;
    margin-left: 15px;
    position: absolute;
    
}

#search-box{
    height: 100%;
    border-color: #2c3e50;
    border-width: 1px;
    border-style: solid; 
    border-radius: 6px;
    background-color: #ffffff;
    float:left;
}

#search-input{
    border-radius: 6px;
    width:100%;
    height: 100%;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

#filter{
    width:24px;
    float:right;
    margin-top: 7px;
}

#search{
    z-index: 10;
    width:40px;
    float:right;
    position: absolute;
    right: 34px;
    top: 2px;
}

.nav-icons {
    position: absolute;
    top: 13px;
    right: 20px;
    display: flex;
}

.nav-icons a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ddd;
}