body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    height:100%;
    font-family: "Poppins", sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  a {
    text-decoration: none;
  }
  
  .header header {
    width: 100%;
    background: url("/static/images/cute.jpg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 5vw);
  }

  .header .container .left_column {
    padding: 25px 20px;
    text-align: center;
    max-width: 100%;
    position: relative;
    
   
    
  }

  .header .container .left_column .profile_pic {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
  }
  .header .container .left_column .profile_pic img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
  }
  .header .container .left_column .profile_pic button {
    background-color:rgba(0, 0, 0, 0);
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
  .header .container .left_column .profile_pic button:hover {
    background-color:rgba(0, 0, 0, 0);
    filter: brightness(30%);
  }

  .header .container .left_column .profile_pic p {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
    color: white;
  }
  .header .container .left_column .profile_pic span { /* Green status indicator */
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
  }
  .header .container .left_column h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
  }
  .header .container .left_column p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
  }
  .header .container .left_column .about {
    display: flex; 
    justify-content: center; 
    position: relative;
    margin: 35px 0;
    gap: 30px; 
}
  .header .container .left_column .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
  }
  .header .container .left_column button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  .header .container .left_column button:hover {
    opacity: 0.8;
  }
  .header .container .content p {
    font-size: 1rem;
    color: #706f6f;
    line-height: 1.8em;
  }
  .header .container .right_column nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .header .container .right_column nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .header .container .right_column nav ul li a {
    text-transform: uppercase;
    color: #818181;
  }
  .header .container .right_column nav ul li a:hover{
    color: #1d1d1d !important;
  }
  .header .container .right_column nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
  }
  .header .container .right_column nav button {
    background: #444445;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  .header .container .left_column nav button:hover {
    opacity: 0.8;
  }
  .header .container .right_column .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
    height: 100%; 
    overflow: auto; 
  }
  .header .container .right_column .photos img {
    width: 100%; /* Maintain full width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Keep aspect ratio */
  }
  
  .header .container .right_column .photos button {
      background: none;
      border: none;
      cursor: pointer;
  }
  .header .container .right_column .photos button:hover {

      opacity: 0.7;
      
  }
  
  /* ============================ pop up ===================================== */
  #gray_out {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
    left: 0px;
    position: fixed;
    width:100%;
    height:100%;
  }
  .popup {
    visibility:hidden;
    top: 10%;
    left: 25%;
    position:fixed;
    width:50%;
    height:80%;
    max-height: 80%;
    box-sizing:border-box;
    background: white;
    padding: 1em;
    margin: 0em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: auto;
    
  }

   #edit_profile_popup {
    height: 90%;
    max-height: 90%;
    top: 5%;
  }


  .popup h1 {
    width: 100%;
    text-align:center;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0.5em;
    border-bottom:3px solid #b8b8b8;
  }

  .popup h3 {
    font-size: 1em;
  }

  .popup_body {
    position: relative;
    width: 100%;
    height:80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2em 2em 0.2em 2em;
  }

  .popup .img_button {
    margin: 0em;
    padding: 0em;
    background: white;
    border: 0px;
    filter: opacity(50%);
  }

  .popup .img_button:hover {
    filter: opacity(90%);
  }

  .popup #cancel_button {
    width:2.5em;
    height:2.5em;
    cursor: pointer;
  }

  .popup #upload_button {
    width: 100%;
    height: 50%;
    flex-grow:1;
    cursor: pointer;

  }

  .popup #upload_profile_button {
    width: 100%;
    height: 50%;
    flex-grow:1;
    cursor: pointer;
  }
  
  .popup img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .popup_body .popup_upload_img_div {
    width:80%;
    height: 60%;
    flex-shrink:1;
    border: 2px dashed rgb(194, 194, 194);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    margin-bottom: 1em;
    align-items: center;
  }

  #edit_profile_popup .popup_body .popup_upload_img_div {
    height: 30%;
    border: 0px solid white;
  }

  .popup .text_div {
    width: 100%;
    flex: 1 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    align-items: center;
  }


  .popup input {
    height: 2em;
    font-size: 0.9rem;
    width: 60%;
  }

  .popup textarea {
    flex: 1;
    width: 100%;
    min-height: 10%;
    content: none;
    resize: none;
    overflow:auto;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.9rem;
  }
  .popup .profile_button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  .popup button:hover {
    opacity: 0.7;
  }

  /* ============================== Responsiveness ================================================== */
  
  @media (min-width: 868px) {
    
    .header .container {
      max-width: 100%;
      margin: 0 auto;
      width: 95%;
      /* justify-content: space-between; */
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
    }
    .header .container .left_column {
      padding: 25px 0px;
    }
    .header .container .right_column nav ul {
      flex-direction: row;
      gap: 30px;
    }
    .header .container .right_column .photos {
      height: 60%;
      overflow: auto;
      padding: 0 0 30px;
    }

  }
  
  @media (min-width: 1017px) {
    .header .container .left_column {
      margin: 0;
      margin-right: 30px;
    }
    .header .container .right_column nav {
      flex-direction: row;
    }
    .header .container .right_column nav button {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 868px)
  {
    
    .popup {
      top: 0;
      left: 0;
      position:fixed;
      height: 100%;
      width:100%;
      max-height:100%;
      border-radius: 0px;
      overflow-y: scroll;
    }
    .popup_body div {
      height:50%;
      
    }
    .popup_body {
      height: 80%;
    }

    #edit_profile_popup {
      height: 100%;
      max-height: 100%;
      top: 0;
    }
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    color: #BCDADB;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.nav-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.nav-icons a {
    color: rgb(255, 255, 255);
    margin-left: 15px;
    font-size: 1.5em;
    text-decoration: none;
}

.nav-icons a:hover {
    color: #ddd;
}