<!-- Bird page html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ bird.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bird.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<!-- nav bar -->
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/raven.png') }}" alt="Featherly Logo">
                <h1>Featherly</h1>
            </div>
            <nav class="nav-icons">
                <a href="/" title="Home"><i class="fas fa-home"></i></a>
                <a href="/map" title="Map"><i class="fas fa-map"></i></a>
                <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
                <a href="/signin" title="Sign In"><i class="fas fa-sign-in-alt"></i></a>
            </nav>
        </div>
    </header>
    <!-- content-->
    <main>
        <div class="bird-info-container">
            <div class="bird-title-row">
                <h1 id="bird-name">{{ bird.title }}</h1>
            </div>
            <div class="bird-content-row">
                <div class="bird-image">
                    {% if bird.imageUrl %}
                        <img src="{{ bird.imageUrl }}" alt="{{ bird.title }} Image">
                    {% else %}
                        <img src="{{ url_for('static', filename='../static/images/watch.png') }}" alt="{{ bird.title }} Image">
                    {% endif %}
                </div>

                <div class="bird-about">
                    <div class="about-header-container">
                        <h2>About the {{ bird.title }}</h2>
                        <a href="{{ bird.wikiUrl }}" target="_blank" class="learn-more-btn">
                            <i class="fas fa-crow"></i> Learn more about me!
                        </a>
                    </div>
                    <p>
                        {% if bird.content %}
                            {{ bird.content|safe }}
                        {% else %}
                            We're still taking notes on this bird! <br><br>Click the 'Learn More' button for more information.
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if bird.imageUrls %}
                <div class="bird-images-gallery">
                    <h2 class="gallery-title">{{ bird.title }} Gallery</h2>
                    <div class="bird-audios-gallery">
                        {% for media in bird.imageUrls %}
                            {% set media_extension = media.split('.')[-1]|lower %}
                            {% if media_extension in ['mp3', 'wav', 'ogg'] %}
                                <audio controls>
                                    <source src="{{ media }}" type="audio/{{ media_extension }}">
                                </audio>
                                {% elif media_extension in ['ogv'] %}
                                <video controls>
                                    <source src="{{ media }}" type="application/ogg">
                                </video>
                                {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="images-container">
                        {% for media in bird.imageUrls %}
                            {% set media_extension = media.split('.')[-1]|lower %}
                            {% if media_extension in ['jpg', 'jpeg', 'png', 'gif', 'svg'] %}
                                <div class="image-item">
                                    <a href="{{ media }}" class="image-link" data-media-type="image">
                                        <img src="{{ media }}" alt="Image of {{ bird.title }}">
                                    </a>
                                </div>
                            {% elif media_extension in ['mp4', 'webm'] %}
                                <div class="image-item">
                                    <video controls>
                                        <source src="{{ media }}" type="video/{{ media_extension }}">
                                    </video>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div id="mediaModal" class="modal">
                <span class="close">&times;</span>
                <div class="modal-content">
                    <img id="modalImage" class="modal-media" style="display:none;">
                    <video id="modalVideo" class="modal-media" style="display:none;" controls>
                        <source id="modalVideoSource">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </main>
    <!-- script for image popup -->
    <script>
        var modal = document.getElementById("mediaModal");
        var modalImage = document.getElementById("modalImage");
        var links = document.querySelectorAll('.image-link');

        links.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                var mediaUrl = this.getAttribute('href');
                var mediaType = this.getAttribute('data-media-type');
                modal.style.display = "flex";
                modalImage.style.display = "block";
                modalImage.src = mediaUrl;
            });
        });

        var closeBtn = document.getElementsByClassName("close")[0];
        closeBtn.onclick = function() {
            modal.style.display = "none";
            modalImage.style.display = "none";
            modalVideo.style.display = "none";
        };

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
                modalImage.style.display = "none";
                modalVideo.style.display = "none";
            }
        };
    </script>
</body>
</html>