<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ bird.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bird.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/raven.png') }}" alt="Featherly Logo">
                <h1>Featherly</h1>
            </div>
            <nav class="nav-icons">
                <a href="/" title="Home"><i class="fas fa-home"></i></a>
                <a href="/map" title="Map"><i class="fas fa-map"></i></a>
                <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
                <a href="/signin" title="Sign In"><i class="fas fa-sign-in-alt"></i></a>
            </nav>
        </div>
    </header>

    <main>
        <div class="bird-info-container">
            <div class="bird-title-row">
                <h1 id="bird-name">{{ bird.title }}</h1>
            </div>
            <div class="bird-content-row">
                <div class="bird-image">
                    {% if bird.imageUrl %}
                        <img src="{{ bird.imageUrl }}" alt="{{ bird.title }} Image">
                    {% else %}
                        <img src="{{ url_for('static', filename='../static/images/watch.png') }}" alt="{{ bird.title }} Image">
                    {% endif %}
                </div>

                <div class="bird-about">
                    <div class="about-header-container">
                        <h2>About the {{ bird.title }}</h2>
                        <a href="{{ bird.wikiUrl }}" target="_blank" class="learn-more-btn">
                            <i class="fas fa-crow"></i> Learn more about me!
                        </a>
                    </div>
                    <p>{{ bird.content|safe }}</p>
                </div>
            </div>
            <div class="bird-images-gallery">
                <div class="images-container">
                    {% for media in bird.imageUrls %}
                        <div class="image-item">
                            {% if media.endswith('.jpg') or media.endswith('.jpeg') or media.endswith('.png') or media.endswith('.gif') %}
                                <img src="{{ media }}" alt="Image of {{ bird.title }}">
                            {% elif media.endswith('.mp4') or media.endswith('.webm') or media.endswith('.ogg') %}
                                <video controls>
                                    <source src="{{ media }}" type="video/{{ media.split('.')[-1] }}">
                                    Your browser does not support the video tag.
                                </video>
                            {% elif media.endswith('.mp3') or media.endswith('.wav') or media.endswith('.ogg') or media.endswith('.tif') or media.endswith('.ogv') %}
                                <audio controls>
                                    <source src="{{ media }}" type="audio/{{ media.split('.')[-1] }}">
                                    Your browser does not support the audio tag.
                                </audio>
                            {% else %}
                                <img src="{{ media }}" alt="Image of {{ bird.title }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>