<!-- Popup for clicking an event -->
<div id="event_popup" class="event_popup popup">
    <link rel="stylesheet" href="{{url_for('static', filename='css/event_popup.css')}}">
    
    <button id="cancel_button" onclick="hideEventPopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
    <div class="event_popup_body">
        <div class="event">
            <div class="event-header">
                <img src="../static/images/raven.png" alt="Event Poster's Profile Picture" class="profile-pic" />
                <div class="profile-info">
                    <div class="profile-name-time">
                        <span class="event_name">Original Event Organizer</span>
                        <span class="post-time"> • Created 2 hours ago</span>
                    </div>
                </div>
            </div>

            <div class="event-image-container">
                <img src="../static/images/raven.png"  alt="Event Image" class="event-image" />
                <span class= "favorite-icon">❤️</span>
            </div>
            <div class="event-details">
                <h4>Untitled Event</h4>
                <p id="event_date_time">Date at Time</p>
                <p id="event_loc">Location</p>
                <p id="event_desc">No description given.</p>
            </div>

            
        </div>
    </div>
   
  </div>
