<!-- Popup on the profile page that appears when you click the numbers around "following / followers" -->
<div id="follower_popup" class="popup">

    <link rel="stylesheet" href="{{url_for('static', filename='css/follower_popup.css')}}">
    <div id="popup_header">
        <button id="cancel_button" onclick="hideFollowerPopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
        
    </div>
    <div class="popup_body">
        <div class="follower">
            <div class="follower_tabs">
                <span><a href="#" onclick="clickFollowerFollowing(true)"><h3 id="followingHeader" class="active">Following</h3></a></span>
                <span><a href="#" onclick="clickFollowerFollowing(false)"><h3 id="followersHeader">Followers</h3></a></span>
            </div>

            <!-- FOLLOWING -->
            <div id="followingList" class="follower_list">
                {% for f in user.following %}

                <div class="follow_row">
                    <div class="f_profile_pic_container">
                        {% if f.profileImage != None %}
                            <img id="f_profile_pic" src="{{url_for('download_file', filename=f.profileImage['name'])}}" alt="Profile Picture" class="profile-pic" />

                        {% else %}
                            <img id="f_profile_pic" src="{{url_for('static', filename='images/profile-icon.webp')}}" alt="Profile Picture" class="profile-pic" />
                        {% endif %}
                    </div>
                    <p>{{f.username|e}}</p>
                    <form action="/profile/{{f.username|e}}">
                        <button class="blue_button unfollow_list_btn">View</button>
                    </form>
                </div>
                {% endfor %}
            </div>

            <!-- FOLLOWED BY -->
            <div id="followersList" class="follower_list" style="display:none;">
                <!-- "f" meaning follower / following -->
                {% for f in user.followedBy %}

                <div class="follow_row">
                    <div class="f_profile_pic_container">
                        {% if f.profileImage != None %}
                            <img id="f_profile_pic" src="{{url_for('download_file', filename=f.profileImage['name'])}}" alt="Profile Picture" class="profile-pic" />

                        {% else %}
                            <img id="f_profile_pic" src="{{url_for('static', filename='images/profile-icon.webp')}}" alt="Profile Picture" class="profile-pic" />
                        {% endif %}
                    </div>
                    <p>{{f.username|e}}</p>
                    <form action="/profile/{{f.username|e}}">
                        <button class="blue_button unfollow_list_btn">View</button>
                    </form>
                </div>
                {% endfor %}
                

            </div>

            
        </div>
    </div>
   
</div>

<script src="{{url_for('static', filename='scripts/follower_popup.js')}}"></script>
