<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>  
    <div class="header">   
    </div>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/raven.png')}}" alt="Featherly Logo">
        <h1>Featherly</h1>
    </div>
    <nav class="nav-icons">
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
        <a href="/map" title="Map"><i class="fas fa-map"></i></a>
        <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
        <a href="/signin" title="Sign In"><i class="fas fa-sign-in-alt"></i></a>
    </nav>
    <div class="container">
        <div id="sidebar-search">
            <div id="search-box">
                <input type="text" placeholder=" Enter a location" id="search-input"></input>
                <!-- <img src="{{url_for('static', filename='images/search.png')}}" id="search"> -->
            </div>
            <label class="switch">
                <input type="checkbox" id="toggle-location">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="list-section">
            <div class="scrollable-list" id="scrollableList">
            </div>
            <div id="pagination" class="pagination-container"></div>
        </div>
        <div id="map" class="image-section"></div>
    </div>
    <script>
        const googleMapsApiKey = "{{ google_maps_api_key }}";
    </script>
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>