<!-- Popup that appears when you click on a post on a profile's gallery -->
<div id="post_popup" class="post_popup popup">

    <link rel="stylesheet" href="{{url_for('static', filename='css/post_popup.css')}}">

    <!-- HEADER -->
    <div id="popup_header">
        <button id="cancel_button" onclick="hideSocialPost()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
        
        {% if loggedIn %}
        <button id="delete_button" onclick="deletePost()" class="img_button"><img src="{{url_for('static', filename='images/trash-can-icon.png')}}"></button>
        {% endif %}
    </div>

    <!-- BODY -->
    <div class="post_popup_body">
        <div class="post">
            <div class="post-header">
                <div class="profile_pic_container">
                    <img id="profile_pic" src="{{url_for('static', filename='images/profile-icon.webp')}}" alt="Profile Picture" class="profile-pic" />
                </div>
                <div class="profile-info">
                    <div class="profile-name-time">
                        <span class="profile-name" id="posted-by">John Doe</span>
                        <span class="post-time" id="post-time">• 2 hours ago</span>
                    </div>
                </div>
            </div>

            <img id="post_image" src="../static/images/raven.png" alt="Post Image" />

            <div class="post-info">
                <div class="text-and-icons">
                    
                    <p id="post_content"></p>
                </div>
            </div>

            
        </div>
    </div>
   
  </div>

<!-- DELETE CONFIRMATION -->    
  <div id="confirmation_popup" class="popup">
    <p>Are you sure you want to delete this post?</p>
    <div>
        <form action="/profile/{{id}}" method="POST">
            <input id="html_postID" type="hidden" name="postID" />
            <button class="blue_button">Yes, Delete</button>
        </form>
        <button class="gray_button" onclick="hideConfirmation()">Cancel</button>    
    </div>
</div>