<div class="post" data-post-id="{{ post.postID }}">
    <div class="post-header">
        <a href="/profile/{{ post.user.username }}">
            <div class="profile_pic_container">
                {% if post.user.profileImage %}
                <img id="profile_pic" src="{{ url_for('download_file', filename=post.user.profileImage.name) }}"
                    alt="Profile Picture" class="profile-pic" />
                {% else %}
                <img id="profile_pic" src="{{ url_for('static', filename='images/profile-icon.webp') }}"
                    alt="Profile Picture" class="profile-pic" />
                {% endif %}
            </div>
            <div class="profile-info">
                <div class="profile-name-time">
                    <span class="profile-name">{{ post.user.username }}</span>
                    <span class="post-time">• {{ post.datePosted|format_datetime }}</span>
                </div>
            </div>
        </a>
    </div>

    <!-- Display post image if available, otherwise show logo image as post -->
    {% if post.images|length > 0 %}
    <img class="post-image" src="{{ url_for('download_file', filename=post.images[0].name) }}" alt="Post Image" />
    {% else %}
    <img class="post-image" src="{{ url_for('static', filename='images/raven.png') }}" alt="Post Image" />
    {% endif %}

    <div class="post-info">
        <div class="text-and-icons">
            <div class="likes-and-icons">
                <div class="post-icons">
                    <!-- Bird button with birdID data attribute -->
                    <button class="icon-button bird-button" id="bird-button-{{ post.postID }}" data-post-id="{{ post.postID }}" data-bird-id="{{ post.birdID }}">
                        <img src="{{ url_for('static', filename='images/birdID.png') }}" alt="Bird Icon" class="bird-icon" width="20" height="22" />
                    </button>
                    <!-- location button with locationID data attribute -->
                    <button class="icon-button placeholder-button" id="placeholder-button-{{ post.postID }}" data-post-id="{{ post.postID }}" data-location-id="{{ post.locationID }}">
                        <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Placeholder Icon" class="placeholder-icon" width="20" height="22" />
                    </button>
                    <!-- Like button  -->
                    <button class="icon-button like-button" id="like-button" data-post-id="{{ post.postID }}">
                                                                                                <!-- If post liked filled heart -->
                        {% if post.liked_by_user %}
                        <img src="{{ url_for('static', filename='images/filled-heart.png') }}" alt="Like Icon" class="like-icon" width="20" height="22" />
                        {% else %}
                                                                                                <!-- else empty heart -->
                        <img src="{{ url_for('static', filename='images/empty-heart.png') }}" alt="Like Icon" class="like-icon" width="20" height="22" />
                        {% endif %}
                    </button>
                </div>
                <!-- Display the number of likes for the post -->
                <div class="likes" id="post_likes_{{ post.postID }}">{{ post.likes_count }} likes</div>
            </div>
            <!-- Display the post caption -->
            <p class="post-content">{{ post.caption }}</p>
        </div>
    </div>
</div>

<!-- Include SweetAlert2 library for popups -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize like buttons
        setupLikeButtons();
        persistLikeButtons(); // on fetching the post again the likes should persist

        // Setup bird button popups using SweetAlert2
        const birdButtons = document.querySelectorAll('.bird-button');
        birdButtons.forEach(button => {
            button.addEventListener('click', function() {
                const birdID = button.getAttribute('data-bird-id'); // Fetch birdID from data attribute
                const rect = button.getBoundingClientRect(); // Get button position
                Swal.fire({
                    text: `Bird species: ${birdID}`, // Display bird id
                    position: 'center',
                    width: 200,
                    showConfirmButton: false,
                    timer: 1000 // Auto close after 1 second
                });
            });
        });

        // Setup placeholder button popups using SweetAlert2
        const placeholderButtons = document.querySelectorAll('.placeholder-button');
        placeholderButtons.forEach(button => {
            button.addEventListener('click', function() {
                const locationID = button.getAttribute('data-location-id'); // Fetch locationID from data attribute
                Swal.fire({
                    text: `Location: ${locationID}`, // Display location
                    position: 'center',
                    width: 200,
                    showConfirmButton: false,
                    timer: 1000 // Auto close after 1 second
                });
            });
        });
    });
</script>
<!-- like fetching code in js -->
<script src="{{ url_for('static', filename='scripts/social.js') }}"></script>