<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Profile Page</title>
</head>
<body>
  <div class="header">
      <header></header>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/raven.png')}}" alt="Featherly Logo">
        <h1>Featherly</h1>
    </div>
    <nav class="nav-icons">
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
        <a href="/map" title="Map"><i class="fas fa-map"></i></a>
        <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
    </nav>

    <!--event popup-->
    <div id="editModal" class="modal">
      <div class="modal-content">
          <span class="close" id="closeModal" onclick="hideEditEventPopup()">&times;</span>
          <h3>Edit Event</h3>
          <form id="editForm">
              <input type="hidden" id="eventID" name="eventID"> <!--stores eventId without showing-->
              
              <!--drag and drop image-->
              <div id="image-upload-container">
                <label for="image-input" id="drop-zone">
                    <img style="width:100px" src="../static/images/upload_image.png">
                    <br>
                    <p class="modal-label">Drag & Drop an Image or Click to Upload</p>
                    <input type="file" name="image-input" id="image-input" accept="image/*" style="display: none;">
                </label>
              </div>
              <br>
              
              <label class="modal-label" for="title">Event Name:</label>
              <input type="text" id="title" name="title" required><br><br>

              <label class="modal-label" for="eventDate">Event Date:</label>
              <input type="date" id="eventDate" name="eventDate" required><br><br>

              <label class="modal-label" for="time">Event Time:</label>
              <input type="time" id="time" name="time" required><br><br>

              <label class="modal-label" for="location">Location:</label>
              <input style="width: 65%;" id="location" name="location" list="cityList" placeholder="Type a city..."
                  autocomplete="off">
              <datalist id="cityList"></datalist>
              <br><br>


              <label class="modal-label" for="description">Description:</label>
              <textarea id="description" name="description" required></textarea><br><br>

              <button type="submit">Update Event</button>
          </form>
       </div>
    </div>

    <div class="container">
          <div class="left_column">

            <!-- VIEWING OWN PROFILE -->
            {% if loggedIn %}
              <div class="profile_pic" id="clickable_profile">
                <button>
                  {% if user.profileImage != None %}
                    <img src="{{url_for('download_file', filename=user.profileImage['name'])}}"/>
                  {% else %}
                    <img src="{{url_for('static', filename='images/profile-icon.webp')}}"/>
                  {% endif %}
                </button>
                <p>Edit Profile</p>
                <span></span>
              </div>
            
            <!-- VIEWING SOMEONE ELSE'S PROFILE-->
            {% else %}
              <div class="profile_pic">
                <p>Edit Profile</p>
                {% if user.profileImage != None %}
                  <img src="{{url_for('download_file', filename=user.profileImage['name'])}}"/>
                {% else %}
                  <img src="/static/images/profile-icon.webp"/>
                {% endif %}
                <span></span>
              </div>
            {% endif %}
            
            {% if user.firstName != None and user.lastName != None %}
              <h2 id="name">{{user.firstName|e}} {{user.lastName|e}}</h2>
            {% elif user.firstName != None and user.lastName == None %}
              <h2 id="name">{{user.firstName|e}}</h2>
            {% else %}
              <h2 id="name">{{user.username|e}}</h2>
            {% endif %}

            {% if user.pronouns != None and user.pronouns != "None" %}
            <p id="pronouns">{{user.pronouns|e}}</p>
            {% endif %}

            {% if not loggedIn %}
              {% if isFollowing %}
              <form action="/profile/{{id}}" method="POST">
                <button class="gray_button" name="followBtn">Unfollow</button>
              </form>
              {% else %}
              <form action="/profile/{{id}}" method="POST">
                <button class="blue_button" name="followBtn">Follow</button>
              </form>
              {% endif %}
            {% endif %}
            <ul class="about">
              {% if loggedIn %}
                <a href="#" onclick="showFollowerPopup()">
                  <span>{{user.followedBy|length}} Followers</span>
                  <span>{{user.following|length}} Following</span>
    
                </a>
              {% else %}
                <span>{{user.followedBy|length}} Followers</span>
                <span>{{user.following|length}} Following</span>

              {% endif %}
            </ul>
  
            <div class="content">
              <p>
                {% if user.bio != None %}
                  {{user.bio|e}}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="right_column">
            <nav>
              <ul id = "mini_nav">
                <li><a href="#" onclick="showGallery()">Gallery</a></li>
                <li><a href="#" onclick="showBadges()">Badges</a></li>
                <li><a href="#" onclick="showCreatedEvents()">Created Events</a></li>
                <li><a href="#" onclick="showSavedEvents()">Saved Events</a></li>
              </ul>
            {% if loggedIn %}
              <button id="addPhoto" onclick="showPostPopup()">Add Photo</button>
            {% endif %}
            </nav>
            <div class="photos" id="gallery">
              <!-- the tojson and e filter automatically sanitizes any dangerous code -->
              {% for post in userPosts %}
                {% if post['images']|length > 0 %}
                <button onclick="showDatabasePost('{{post|tojson|forceescape}}')"><img src="{{url_for('download_file', filename=post['images'][0]['name'])}}" alt="Photo"></button>
                {% else %}
                <button onclick="showDatabasePost('{{post|tojson|forceescape}}')"><img src="../static/images/raven.png" alt="Photo"></button>

                {% endif %}
              {% endfor %}
              
            </div>
            <div class="badges" id="badges">
              <h3>My Badges</h3>
              <div id="badge_holder">
                {% for badge in badges %}
                <div class="badge_img_details">
                  <div class="badge_img_container">
                    <img src="{{badge.image|e}}" alt="badge image" class="badge_image"/>
                  </div>
                    <span>
                      <h4>{{badge.name|e}}</h4>
                      <p>{{badge.description|e}}</p>
                    </span>
                </div>
                {% endfor %}
              </div>
                
            </div>
            <div class="events" id="createdEvents"> 
              <div id="created_event_holder">
                {% for event in createdEvents %}
                <div class="event_img_details">
                    <div class="event-image-container">
                        <!--<img src={{event.image|e}}  alt={{event.name|e}} class="event-image" />-->
                        {% if event.imagePath %}
                        <img src="../{{event.imagePath}}" alt="{{ event.title|e }}" class="event-image" />
                        {% else %}
                        <img src="../static/images/raven.png" alt="Default image" class="event-image default-image" />
                        {% endif %}
                        
                    </div>
                    <div class="event-details">
                        <h4>{{event.title|e}}</h4>
                        <span id="editBtn" class="edit-icon" EventID="{{event.eventID}}"></span>
                        <span class= "delete-icon" EventID="{{event.eventID}}"></span>
                        <p>{{ event.eventDate }}</p> 
                        <p>{{event.location|e}}</p>
                        <p style="margin-top:10px">{{event.description|e}}</p>
                      </br>
                    </div>
                </div>
                {%endfor%}
              </div>
              
            </div>

            <div class="events" id="savedEvents"> 
              <div id="saved_event_holder">
                {% set images = ['bird1.jpg', 'bird2.jpg', 'bird3.jpg', 'bird4.jpg'] %}
                {% for event in savedEvents %}
                <div class="event_img_details">
                    <div class="event-image-container">
                        <!--<img src={{event.image|e}}  alt={{event.name|e}} class="event-image" />-->
                        {% if event.imagePath %}
                        <img src="../{{event.imagePath}}" alt="{{ event.title|e }}" class="event-image" />
                        {% else %}
                        <img src="../static/images/raven.png" alt="Default image" class="event-image default-image" />
                        {% endif %}                        
                    </div>
                    <div class="event-details">
                        <h4>{{event.title|e}}</h4>
                        <span class= "favorite-icon favorited" EventID="{{event.eventID}}"></span>
                        <p>{{ event.eventDate }}</p> 
                        <p>{{event.location|e}}</p>
                        <p style="margin-top:10px">{{event.description|e}}</p>
                      </br>
                    </div>
                </div>
                {%endfor%}
              </div>
              
            </div>

            </div>
          </div>
          <div id="gray_out"></div>

        </div>

        <!-- Popup for Adding a Post -->
        {% if loggedIn %}
        <div class="popup" id="add_post_popup">
          <button id="cancel_button" onclick="hidePostPopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
          <h1>Create a Post</h1>

          <div class="popup_body">
          <form action="/profile/{{id}}" method="POST" enctype="multipart/form-data">
              <div class="popup_upload_img_div">
                <div id="image_upload">
                  <input type="text" style="visibility:hidden; padding:0; margin:0; display:none" id='file-upload-text' />
                  <div id="clickable_upload">
                     
                    <img class="upload_img" id="addPostImg" src="{{url_for('static', filename='images/upload_image.png')}}" >
                    <input onchange="onFileUpload(this.files, 'addPostImg')" type="file" accept=".jpg,.png,.gif,.webp" id="file_upload_input" name="image_file_bytes" >  
                  </div>

                </div>
                <h3>Upload an image</h3>
              </div>
              <div class="text_div">
                <h3>Bird Species</h3>
                <input name="add_bird_id" placeholder="Enter the species of the bird">
                <h3>Location</h3>
                <input list="cityList" id="location" name="add_location" placeholder="Enter the location of the bird">
                <datalist id="cityList"></datalist>
                <h3>Caption</h3>
                <textarea name="add_photo_caption" placeholder="Write a caption here!"></textarea>
                <button class="profile_button">Post</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Popup for Profile Editing -->
        <div class="popup" id="edit_profile_popup">
          <button id="cancel_button" onclick="hideProfilePopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
          <h1>Edit Your Profile</h1>

          <div class="popup_body">
          <form action="/profile/{{id}}" method="POST" enctype="multipart/form-data">
            <div class="popup_upload_img_div">
              <h3>Profile Image</h3>

              <div id="image_upload">
                <input type="text" style="visibility:hidden; padding:0; margin:0; display:none" id='file-upload-text' />
                <div id="clickable_upload">
                  <img class="upload_img" id="editProfileImg" src="{{url_for('static', filename='images/upload_image.png')}}" >
                  <input onchange="onFileUpload(this.files, 'editProfileImg')" accept=".jpg,.png,.gif,.webp" type="file" id="file_upload_input" name="image_file_bytes" >  
                </div>

              </div>
            </div>
            <div class="text_div" id="edit_profile_form">
              <h3>First Name</h3>
              {% set fName = "" %}
              {% if user.firstName != None %}
                {% set fName = user.firstName|e %}
              {% endif %}
              <input name="edit_profile_name" placeholder="Enter your first name" value="{{fName}}">
              <h3>Last Name</h3>

              {% set lName = "" %}
              {% if user.lastName != None %}
                {% set lName = user.lastName|e %}
              {% endif %}
              <input name="edit_profile_last_name" placeholder="Enter your last name" value="{{lName}}">

              {% set pnouns = "" %}
              {% if user.pronouns != None %}
                {% set pnouns = user.pronouns|e %}
              {% endif %}
              <h3>Pronouns</h3>
              <input name="pronouns" placeholder="Enter your pronouns (e.g., she/her/hers)" value="{{pnouns}}">

              {% set ubio = "" %}
              {% if user.bio != None %}
                {% set ubio = user.bio|e %}
              {% endif %}
              <h3>Bio</h3>
              <textarea name="bio" placeholder="Edit your bio">{{ubio}}</textarea>
              <button class="profile_button" onclick="hideProfilePopup()">Save</button>
            </div>
          </div>
          </form>
        </div>
        {% endif %}

        {% include "post_popup.html" with context %}

        {% include "event_popup.html" with context %}
        
        {% include "alert_popup.html" with context %}

        {% include "follower_popup.html" with context %}

      </div>

      <script src="{{url_for('static', filename='scripts/profile.js')}}"></script>

</body>

</html>
