<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Profile Page</title>
</head>
<body>
    <div class="header">
      <header></header>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/raven.png')}}" alt="Featherly Logo">
        <h1>Featherly</h1>
    </div>
    <nav class="nav-icons">
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
        <a href="/map" title="Map"><i class="fas fa-map"></i></a>
        <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
    </nav>
        <div class="container">
          <div class="left_column">
            {% if loggedIn %}
              <div class="profile_pic" id="clickable_profile">
                <button>
                  <img src="/static/images/birder.jpeg"/>
                </button>
                <p>Edit Profile</p>
                <span></span>
              </div>
            {% else %}
              <div class="profile_pic">
                <p>Edit Profile</p>
                <img src="/static/images/birder.jpeg"/>
                <span></span>
              </div>
            {% endif %}

            <h2 id="name">{{user.firstName|e}}</h2>
            <p id="title">Professional Photographer</p>
            <button class="profile_button">Follow</button>
            <ul class="about">
              <span>120 Followers</span>
              <span>322 Following</span>
            </ul>
  
            <div class="content">
              <p>
                As I wander through the early morning light, my camera slung around my neck, I feel a sense of peace enveloping me. Each rustle in the bushes or distant call of a bird ignites my excitement; it's like the world is whispering secrets meant only for me. I’m Jane Doe, a passionate bird enthusiast and photographer, and nothing brings me more joy than capturing the beauty of avian life. Whether I’m nestled quietly in my backyard, waiting for the perfect moment, or exploring new habitats, I find inspiration in every feathered friend I encounter. The thrill of freezing those fleeting moments in time fuels my passion and deepens my love for nature.
              </p>
            </div>
          </div>
          <div class="right_column">
            <nav>
              <ul id = "mini_nav">
                <li><a href="#" onclick="showGallery()">Gallery</a></li>
                <li><a href="#" onclick="showBadges()">Badges</a></li>
                <li><a href="#" onclick="showEvents()">Saved Events</a></li>
              </ul>
            {% if loggedIn %}
              <button id="addPhoto" onclick="showPostPopup()">Add Photo</button>
            {% endif %}
            </nav>
            <div class="photos" id="gallery">
              <!-- the tojson and e filter automatically sanitizes any dangerous code -->
              {% for post in userPosts %}
              
                <button onclick="showDatabasePost('{{post|tojson|forceescape}}')"><img src="/static/images/bird2.jpg" alt="Photo"></button>
              {% endfor %}
              {% for post in socialPosts %}
                <button onclick="showSocialPost('{{post|tojson|forceescape}}')"><img src="{{post.image|e}}" alt="Photo" /></button>
              {% endfor %}
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
            </div>
            <div class="badges" id="badges">
              <h3>My Badges</h3>
              <div id="badge_holder">
                {% for badge in badges %}
                <div class="badge_img_details">
                  <div class="badge_img_container">
                    <img src="{{badge.image|e}}" alt="badge image" class="badge_image"/>
                  </div>
                    <span>
                      <h4>{{badge.name|e}}</h4>
                      <p>{{badge.description|e}}</p>
                    </span>
                </div>
                {% endfor %}
              </div>
                
            </div>
            <div class="saved_events" id="events"> 
              <h3>My Saved Events</h3>
              <div id="event_holder">
                {% for event in events %}
                <div class="event_img_details">
                  <div class="event-image-container">
                      <img src={{event.image|e}}  alt={{event.name|e}} class="event-image" />
                      <span class= "favorite-icon">❤️</span>
                  </div>
                  <div class="event-details">
                      <h4>{{event.name|e}}</h4>
                      <p>{{event.date|e}} at {{event.time|e}}</p>
                      <p>{{event.location|e}}</p>
                      <button onclick="showEventPopup('{{event|tojson|forceescape}}')">Details</button>
                  </div>
                </div>
                {%endfor%}
              </div>

            </div>
          </div>
          <div id="gray_out"></div>

        </div>

        <!-- Popup for Adding a Post -->
        <div class="popup" id="add_post_popup">
          <button id="cancel_button" onclick="hidePostPopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
          <h1>Create a Post</h1>

          <div class="popup_body">
          <form action="/profile/{{id}}" method="POST">
              <div class="popup_upload_img_div">
                <button id="upload_button" class="img_button"><img src="{{url_for('static', filename='images/upload_image.png')}}"></button>
                <h3>Upload an image</h3>
              </div>
              <div class="text_div">
                <textarea name="add_photo_caption" placeholder="Write a caption here!"></textarea>
                <button class="profile_button">Post</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Popup for Profile Editing -->
        <div class="popup" id="edit_profile_popup">
          <button id="cancel_button" onclick="hideProfilePopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
          <h1>Edit Your Profile</h1>

          <div class="popup_body">
          <form action="/profile/{{id}}" method="POST">
            <div class="popup_upload_img_div">
              <h3>Profile Image</h3>
              <button id="upload_profile_button" class="img_button"><img src="{{url_for('static', filename='images/upload_image.png')}}"></button>
            </div>
            <div class="text_div" id="edit_profile_form">
              <h3>Name</h3>
              <input name="edit_profile_name" placeholder="Enter your name" value="{{user.firstName|e}}">
              <h3>Title</h3>
              <input name="title" placeholder="Enter your title">
              <h3>Bio</h3>
              <textarea name="bio" placeholder="Edit your bio">{{user.bio|e}}</textarea>
              <button class="profile_button" onclick="saveProfileEdits()">Save</button>
            </div>
          </div>
          </form>
        </div>

        {% include "post_popup.html" with context %}

        {% include "event_popup.html" with context %}

      </div>

      <script src="{{url_for('static', filename='scripts/profile.js')}}"></script>

</body>

</html>
