<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Profile Page</title>
</head>
<body>
    <div class="header">
      <header></header>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/raven.png')}}" alt="Featherly Logo">
        <h1>Featherly</h1>
    </div>
    <nav class="nav-icons">
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
        <a href="/map" title="Map"><i class="fas fa-map"></i></a>
        <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
    </nav>
        <div class="container">
          <div class="left_column">

            <!-- VIEWING OWN PROFILE -->
            {% if loggedIn %}
              <div class="profile_pic" id="clickable_profile">
                <button>
                  {% if user.profileImage != None %}
                    <img src="{{url_for('download_file', filename=user.profileImage['name'])}}"/>
                  {% else %}
                    <img src="/static/images/birder.jpeg"/>
                  {% endif %}
                </button>
                <p>Edit Profile</p>
                <span></span>
              </div>
            
            <!-- VIEWING SOMEONE ELSE'S PROFILE-->
            {% else %}
              <div class="profile_pic">
                <p>Edit Profile</p>
                {% if user.profileImage != None %}
                  <img src="{{url_for('download_file', filename=user.profileImage['name'])}}"/>
                {% else %}
                  <img src="/static/images/birder.jpeg"/>
                {% endif %}
                <span></span>
              </div>
            {% endif %}
            
            {% if user.firstName != None %}
              <h2 id="name">{{user.firstName|e}}</h2>
            {% else %}
              <h2 id="name">{{user.username|e}}</h2>
            {% endif %}

            <p id="title">Professional Photographer</p>
            {% if not loggedIn %}
              {% if isFollowing %}
              <form action="/profile/{{id}}" method="POST">
                <button class="gray_button" name="followBtn">Unfollow</button>
              </form>
              {% else %}
              <form action="/profile/{{id}}" method="POST">
                <button class="blue_button" name="followBtn">Follow</button>
              </form>
              {% endif %}
            {% endif %}
            <ul class="about">
              <span>{{user.followedBy|length}} Followers</span>
              <span>{{user.following|length}} Following</span>
            </ul>
  
            <div class="content">
              <p>
                {% if user.bio != None %}
                  {{user.bio|e}}
                {% endif %}
              </p>
            </div>
          </div>
          <div class="right_column">
            <nav>
              <ul id = "mini_nav">
                <li><a href="#" onclick="showGallery()">Gallery</a></li>
                <li><a href="#" onclick="showBadges()">Badges</a></li>
                <li><a href="#" onclick="showCreatedEvents()">Created Events</a></li>
                <li><a href="#" onclick="showSavedEvents()">Saved Events</a></li>
              </ul>
            {% if loggedIn %}
              <button id="addPhoto" onclick="showPostPopup()">Add Photo</button>
            {% endif %}
            </nav>
            <div class="photos" id="gallery">
              <!-- the tojson and e filter automatically sanitizes any dangerous code -->
              {% for post in userPosts %}
                {% if post['images']|length > 0 %}
                <button onclick="showDatabasePost('{{post|tojson|forceescape}}')"><img src="{{url_for('download_file', filename=post['images'][0]['name'])}}" alt="Photo"></button>
                {% else %}
                <button onclick="showDatabasePost('{{post|tojson|forceescape}}')"><img src="../static/images/raven.png" alt="Photo"></button>

                {% endif %}
              {% endfor %}
              {% for post in socialPosts %}
                <button onclick="showSocialPost('{{post|tojson|forceescape}}')"><img src="{{post.image|e}}" alt="Photo" /></button>
              {% endfor %}
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
              <img src="/static/images/bird3.jpg" alt="Photo" />
              <img src="/static/images/bird4.jpg" alt="Photo" />
              <img src="/static/images/bird1.jpg" alt="Photo" />
              <img src="/static/images/bird2.jpg" alt="Photo" />
            </div>
            <div class="badges" id="badges">
              <h3>My Badges</h3>
              <div id="badge_holder">
                {% for badge in badges %}
                <div class="badge_img_details">
                  <div class="badge_img_container">
                    <img src="{{badge.image|e}}" alt="badge image" class="badge_image"/>
                  </div>
                    <span>
                      <h4>{{badge.name|e}}</h4>
                      <p>{{badge.description|e}}</p>
                    </span>
                </div>
                {% endfor %}
              </div>
                
            </div>
            <div class="events" id="createdEvents"> 
              <div id="created_event_holder">
                {% set images = ['bird1.jpg', 'bird2.jpg', 'bird3.jpg', 'bird4.jpg'] %}
                {% for event in createdEvents %}
                <div class="event_img_details">
                    <div class="event-image-container">
                        <!--<img src={{event.image|e}}  alt={{event.name|e}} class="event-image" />-->
                        <img src='../static/images/{{images[loop.index0 % images|length]}}' alt="{{event.title|e}}" class="event-image" />
                        
                    </div>
                    <div class="event-details">
                        <h4>{{event.title|e}}</h4>
                        <span class= "delete-icon" EventID="{{event.eventID}}"></span>
                        <p>{{ event.eventDate }}</p> 
                        <p>{{event.location|e}}</p>
                        <p style="margin-top:10px">{{event.description|e}}</p>
                      </br>
                    </div>
                </div>
                {%endfor%}
              </div>
              
            </div>

            <div class="events" id="savedEvents"> 
              <div id="saved_event_holder">
                {% set images = ['bird1.jpg', 'bird2.jpg', 'bird3.jpg', 'bird4.jpg'] %}
                {% for event in savedEvents %}
                <div class="event_img_details">
                    <div class="event-image-container">
                        <!--<img src={{event.image|e}}  alt={{event.name|e}} class="event-image" />-->
                        <img src='../static/images/{{images[loop.index0 % images|length]}}' alt="{{event.title|e}}" class="event-image" />
                        
                    </div>
                    <div class="event-details">
                        <h4>{{event.title|e}}</h4>
                        <span class= "favorite-icon favorited" EventID="{{event.eventID}}"></span>
                        <p>{{ event.eventDate }}</p> 
                        <p>{{event.location|e}}</p>
                        <p style="margin-top:10px">{{event.description|e}}</p>
                      </br>
                    </div>
                </div>
                {%endfor%}
              </div>
              
            </div>

            </div>
          </div>
          <div id="gray_out"></div>

        </div>

        <!-- Popup for Adding a Post -->
        {% if loggedIn %}
        <div class="popup" id="add_post_popup">
          <button id="cancel_button" onclick="hidePostPopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
          <h1>Create a Post</h1>

          <div class="popup_body">
          <form action="/profile/{{id}}" method="POST" enctype="multipart/form-data">
              <div class="popup_upload_img_div">
                <div id="image_upload">
                  <input type="text" style="visibility:hidden; padding:0; margin:0; display:none" id='file-upload-text' />
                  <div id="clickable_upload">
                    <img class="upload_img" src="{{url_for('static', filename='images/upload_image.png')}}" >
                    <input type="file" id="file_upload_input" name="image_file_bytes" >  
                  </div>

                </div>
                
                <h3>Upload an image</h3>
              </div>
              <div class="text_div">
                <textarea name="add_photo_caption" placeholder="Write a caption here!"></textarea>
                <button class="profile_button">Post</button>
              </div>
            </div>
          </form>
        </div>

        <!-- Popup for Profile Editing -->
        <div class="popup" id="edit_profile_popup">
          <button id="cancel_button" onclick="hideProfilePopup()" class="img_button"><img src="{{url_for('static', filename='images/cancel_icon.png')}}"></button>          
          <h1>Edit Your Profile</h1>

          <div class="popup_body">
          <form action="/profile/{{id}}" method="POST" enctype="multipart/form-data">
            <div class="popup_upload_img_div">
              <h3>Profile Image</h3>

              <div id="image_upload">
                <input type="text" style="visibility:hidden; padding:0; margin:0; display:none" id='file-upload-text' />
                <div id="clickable_upload">
                  <img class="upload_img" src="{{url_for('static', filename='images/upload_image.png')}}" >
                  <input type="file" id="file_upload_input" name="image_file_bytes" >  
                </div>

              </div>
            </div>
            <div class="text_div" id="edit_profile_form">
              <h3>Name</h3>
              <input name="edit_profile_name" placeholder="Enter your name" value="{{user.firstName|e}}">
              <h3>Title</h3>
              <input name="title" placeholder="Enter your title">
              <h3>Bio</h3>
              <textarea name="bio" placeholder="Edit your bio">{{user.bio|e}}</textarea>
              <button class="profile_button" onclick="saveProfileEdits()">Save</button>
            </div>
          </div>
          </form>
        </div>
        {% endif %}

        {% include "post_popup.html" with context %}

        {% include "event_popup.html" with context %}

      </div>

      <script src="{{url_for('static', filename='scripts/profile.js')}}"></script>

</body>

</html>
