<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Featherly - Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authstyle.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="signup">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/raven.png')}}" alt="Featherly Logo">
        <h1>Featherly</h1>
    </div>
    <nav class="nav-icons">
        <a href="/" title="Home"><i class="fas fa-home"></i></a>
        <a href="/map" title="Map"><i class="fas fa-map"></i></a>
        <a href="/social" title="Social Media"><i class="fa-solid fa-users"></i></a>
    </nav>
    <div class="container">
        <div class="form-container">
            <div class="form-box">
                <h2>Come find your nest.</h2>
                <img class="nest" src="{{ url_for('static', filename='images/nest.png') }}" alt="Image">
            
                <form id="signin-form" method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ form.email }}
                    {{ form.username }}
                    {{ form.password }}
                    {{ form.confirm_password }}
                    <button id="button">Sign Up</button>
                    <script>
                        document.getElementById("button").addEventListener("click", function () {
                            document.getElementById("signin-form").submit();
                        });
                    </script>
                    {% if form.errors %}
                    <script>
                        alert("{{  'Username missing!' if 'username' in form.errors else '' }} \n{{ 'email missing!' if 'email' in form.errors else '' }} \n{{ 'password missing!' if 'password' in form.errors else '' }} \n{{ 'Confirm your password!' if 'confirm_password' in form.errors else '' }}");
                    </script>
                    {% endif %}
                    {% if alert_message %}
                    <script>
                        alert("{{ alert_message }}");
                    </script>
                    {% endif %}
                    


                    <p class="link"><a href="/signin">Already have an account?</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>