<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Featherly - Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authstyle.css')}}">
</head>

<body class="signup">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/raven.png')}}" alt="Featherly Logo">
        <h1>FEATHERLY</h1>
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-box">
                <h2>Come find your nest.</h2>
                <img class="nest" src="{{ url_for('static', filename='images/nest.png') }}" alt="Image">
                <form>
                    <input type="text" placeholder="Email" required>
                    <input type="text" placeholder="Username" required>
                    <input type="password" placeholder="Password" required>
                    <button class="sign-up-button">Sign Up</button>
                    <p class="link"><a href="/signin">Already have an account?</a></p>

                </form>
            </div>
        </div>
    </div>
</body>

</html>